@media screen and (min-width: 53.001rem) {
  body {
    background-image: url(/writings/pencils.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 25rem;
  }
}
