{{ $isLong := strings.Contains .RawContent "<!--more-->" }}
<article class='h-entry card'>
  {{- partialCached "post/header" (dict "Listing" true "Page" .) .Permalink true -}}
  {{- if $isLong }}
    {{- with .Summary }}
      <div class='p-summary'>{{ . }}</div>
    {{- end }}
  {{- else }}
    {{- partialCached "post/content" . .Permalink }}
  {{- end }}
  <div class="h-card u-author" hidden>
    Authored by
    <a href="{{ absURL "/" }}" class="u-url p-name">{{ .Page.Site.Params.author.name }}</a>
    <a class='u-photo' href="{{ .Page.Site.Params.author.photo }}">(Photo)</a>
  </div>
  {{- if $isLong }}
    <a href='{{ .RelPermalink }}' class='button small'>Read More →</a>
  {{- end }}
</article>
