:root {
  --accent-h: 48;
  --accent-s: 100%;
  --accent-l: 45%;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-image: url(./pencils.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
  }
}
