:root {
  --accent: #e8ba00;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-image: url(./pencils.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
  }
}
