:root {
  --c-h: 48;
  --c-s: 100%;
  --c-l: 45%;
  --fg-l: 87%;
  --mg-l: 96%;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-image: url(./pencils.svg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
  }
}
