{{- $url := urls.Parse .Destination }}
{{- $id := "" }}
{{- $src := "" }}

{{- if eq $url.Scheme "cdn" }}
	{{- $id = strings.TrimPrefix "/" $url.Path }}
	{{- $src = printf "https://cdn.hacdias.com/img/2000/%s.jpeg" $id }}
{{- else }}
	{{ with .Page.Resources.GetMatch $url.Path }}
		{{- $src = .RelPermalink -}}
	{{ else }}
		{{- $src = .Destination }}
	{{ end}}
{{- end }}

{{- if .IsBlock }}
  <figure
		{{ with .Class }}class="{{ . }}"{{ end }}
		{{ with .ID }}id="{{ . }}"{{ end }}
		{{ with .Style }}style="{{ . | safeCSS }}"{{ end }} >
		<picture>
		{{- if $id }}
			{{ $sizes := or .Sizes (slice 250 500 1000 2000) }}
			<source srcset="{{ range $i, $s := $sizes }}{{ if ne $i 0 }}, {{ end }}{{ printf "https://cdn.hacdias.com/img/%d/%s.webp" $s $id }} {{ $s }}w{{ end }}" type="image/webp">
			<source srcset="{{ range $i, $s := $sizes }}{{ if ne $i 0 }}, {{ end }}{{ printf "https://cdn.hacdias.com/img/%d/%s.jpeg" $s $id }} {{ $s }}w{{ end }}" type="image/jpeg">
		{{- end }}
{{- end }}

<img src="{{ absURL $src | safeURL }}"
	{{- with or .Text .Title }} alt ="{{.}}"{{ end }}
	{{- if not .IsBlock }}
		{{ with .Class }}class="{{ . }}"{{ end }}
		{{ with .Style }}style="{{ . | safeCSS }}"{{ end }}
	{{ end }}
	{{- with .Title }} title="{{ . }}"{{ end }} loading="lazy" >

{{- if .IsBlock }}
		</picture>
		{{- with .Text }}
		<figcaption>{{ safeHTML . }}</figcaption>
		{{- end }}
	</figure>
{{- end -}}
