:root {
  --c-h: 19;
  --c-s: 58%;
  --c-l: 36%;
}

@media screen and (min-width: 53.001rem) {
  body {
    background: #8e4a1f url(/readings/shelf.jpeg);
    background-size: 400px;
    background-attachment: fixed;
  }

  #navbar {
    border-radius: 0;
  }  
}
