:root,
:root.dark {
  --c-h: 0;
  --c-s: 0%;
  --c-l: 10%;
}

:root.dark {
  --c-l: 30%;
}

.shoebox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.shoebox a {
  margin: 0;
}

.shoebox h2 {
  font-size: inherit;
  margin: 0 0 0.5rem 0;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-color: #111;
    background-image: url(https://cdn.hacdias.com/media/2021-02-space.gif);
  }

  #navbar {
    border-radius: 0;
    border-color: transparent;
    background: var(--c);
    color: var(--c-text);
  }

  .dark #navbar {
    background: var(--dark-gray);
    color: var(--c);
  }

  #navbar a:hover,
  #navbar a[aria-current="page"] {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .dark #navbar a:hover,
  .dark #navbar a[aria-current="page"] {
    background-color: var(--light-gray);
  }
}
