:root,
:root.dark {
  --c-h: 0;
  --c-s: 0%;
  --c-l: 10%;
}

:root.dark {
  --c-l: 30%;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-color: #111;
    background-image: url(https://cdn.hacdias.com/media/2021-02-space.gif);
  }

  #navbar {
    border-radius: 0;
    border-color: transparent;
    background: var(--c);
    color: var(--c-text);
  }

  .dark #navbar {
    background: var(--dark-gray);
    color: var(--c);
  }

  #navbar a:hover,
  #navbar a[aria-current="page"] {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .dark #navbar a:hover,
  .dark #navbar a[aria-current="page"] {
    background-color: var(--light-gray);
  }
}
