h2 .lh {
  text-decoration: none;
}

.tb li {
  grid-template-columns: auto min-content;
}

.fg {
  grid-template-columns: repeat(4, 1fr);
}

.fg figure img {
  aspect-ratio: 1;
}

#favourite-captures + .fg > a:nth-child(3) img {
  object-position: -20px;
}

@media screen and not (max-width: 50rem) {
  .fg > div {
    padding: var(--hms);
    background: var(--fg);
    transition: 0.2s ease all;
  }

  .fg > div:hover {
    padding: var(--ms);
    transform: rotate(1deg) scale(1.02);
  }
}
