{{- $logs := or .Data (slice) }}

{{- with .Pages }}
  {{- $pages := partial "fns/pages-as-logs" . }}
  {{- $logs = $pages | append $logs }}
{{- end }}

{{ if .WithGroups }}
  {{- $groups := partial "fns/group-date-year" $logs }}
  {{- range $groups.years }}
    <section>
      {{ $year := . }}
      {{ $logs := index $groups.map $year }}

      <h3 class='tbh' id='{{ $year }}'>{{ if eq $year "past" }}Past{{ else }}{{ $year }}{{ end }} <small class='lg'>({{ len $logs }} entries)</small></h3>

      {{ template "logs/ul" (dict "Logs" $logs "WithMicroformats" $.WithMicroformats "WithRating" $.WithRating) }}
    </section>
  {{ end }}
{{ else }}
  {{ template "logs/ul" (dict "Logs" $logs "WithMicroformats" $.WithMicroformats "WithRating" $.WithRating) }}
{{ end }}

{{ define "logs/ul" }}
  {{- $logs := .Logs }}
  {{- $mf2 := .WithMicroformats }}
  {{- $rating := .WithRating }}

  <ul class='tb'>
    {{ range $logs }}
      <li{{if $mf2 }} class='h-entry'{{ end }}>
          {{- with .url -}}<a href='{{ relURL . }}' class='nl lh {{if $mf2 }}u-url{{ end }}'>{{- else -}}<span>{{- end -}}
            {{- if $mf2 }}<span class='p-name'>{{ end -}}
              {{- .name -}}{{ with .season }} (Season {{. }}){{- end -}}
            {{- if $mf2 }}</span>{{- end -}}
            {{- with .author }} <span class='lg wn'>by {{ . -}}</span>{{ end }}
            {{- with .via }} <span class='lg wn'>via {{ . -}}</span>{{ end }}
          {{- with .url }}</a>{{- else -}}</span>{{- end -}}
        {{- if $rating }}
          {{ with .rating }}
            <span>{{ partialCached "helpers/stars" (slice . 5) . 5 }}</span>
          {{ else }}
            <span class="ah" alt="No rating">☆☆☆☆☆</span>
          {{ end }}
        {{- end }}
        {{- with .date }}
          <time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" . }}' class='tab lg small{{if $mf2 }} dt-published{{ end }}'>{{ dateFormat "2006-01-02" . }}</time>
        {{- else }}
          <span class='tab lg small ah' alt="Unknown date">0000-00-00</span>
        {{- end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
