{{ $pages := partial "fns/group-date-year" .Data }}
{{ range $pages.years }}
  <section>
    {{ $year := . }}
    {{ $pages := index $pages.map $year }}

    <h3 class='tbh' id='{{ $year }}'>{{ if eq $year "others" }}Others{{ else }}{{ $year }}{{ end }} <small class='lg'>({{ len $pages }} entries)</small></h3>

    {{ with $pages }}
      <ul class='tb{{ with $.Class }} {{ . }}{{ end }}'>
        {{ range . }}
          <li>
            <span>
              {{- with .url -}}<a href='{{ . }}' class='nl lh'>{{- end -}}
                {{- .name -}}{{ with .season }} (Season {{. }}){{- end -}}
              {{- with .url }}</a>{{- end -}}
            </span>
            {{ if $.WithAuthor }}<span>{{- .author -}}</span>{{ end }}
            <span>{{ with .rating }}{{ partialCached "helpers/stars" (slice . 5) . 5 }}{{ end }}</span>
            <span>
              {{ with .date }}
                <time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" . }}' class='tab lg small'>{{ dateFormat "2006-01-02" . }}</time>
              {{ end }}
            </span>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
