{{- $logs := .Data }}

{{- with .Page }}
  {{- $pages := partial "fns/pages-as-logs" .Pages }}
  {{- $logs = $pages | append $logs }}
{{- end }}

{{- $groups := partial "fns/group-date-year" $logs }}
{{- range $groups.years }}
  <section>
    {{ $year := . }}
    {{ $logs := index $groups.map $year }}

    <h3 class='tbh' id='{{ $year }}'>{{ if eq $year "others" }}Others{{ else }}{{ $year }}{{ end }} <small class='lg'>({{ len $logs }} entries)</small></h3>

    {{ with $logs }}
      <ul class='tb'>
        {{ range . }}
          <li>
            <span>
              {{- with .url -}}<a href='{{ . }}' class='nl lh'>{{- end -}}
                {{- .name -}}{{ with .season }} (Season {{. }}){{- end -}}
              {{- with .url }}</a>{{- end -}}
              {{ with .author }} <span class='lg wn'>by {{ . -}}</span>{{ end }}
            </span>
            <span>{{ with .rating }}{{ partialCached "helpers/stars" (slice . 5) . 5 }}{{ end }}</span>
            <span>
              {{ with .date }}
                <time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" . }}' class='tab lg small'>{{ dateFormat "2006-01-02" . }}</time>
              {{ end }}
            </span>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
