.tb {
  grid-template-columns: auto max-content max-content;
}

.tb li {
  grid-column: span 3;
}

:root {
  --c-h: 354;
  --c-s: 90%;
  --c-l: 43%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-l: 60%;
  }
}

@media screen and (min-width: 120rem) {
  #main,
  #footer {
    max-width: 100%;
  }

  #watches-intro {
    max-width: calc(var(--max-width) - 2 * var(--s3));
  }

  #watches-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, var(--max-width)));
    grid-gap: var(--s3);
  }
}
