:root {
  --c-h: 215;
  --c-s: 84%;
  --c-l: 65%;
}

body {
  background: var(--fg) url(snowflake.svg);
  background-size: 49px;
  background-attachment: fixed;
  background-position: center;
}

#header,
#sidebar,
#navbar,
#main,
#footer {
  background: var(--bg);
}

.snowflakes {
  background: radial-gradient(#4b7bec, #3867d6);
  position: relative;
  border-radius: var(--radius);
  aspect-ratio: 4 / 2;
}

.snowflakes canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

#controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  text-align: center;
  margin: 1rem auto;
}

#controls label {
  font-weight: 700;
  display: block;
}

#controls input {
  width: 80%;
}
