{{- $hasPhotos := intersect .Params.categories (slice "photos" "graphics") -}}
{{- if or .Content .Params.rating $hasPhotos }}
  <div class='e-content'>
    {{- with .Params.rating -}}
      <p>
        <data class="p-rating" value="{{ . }}"><strong>Rating</strong>: {{ partialCached "helpers/stars" (slice . 5) . 5 }}</data>
      </p>
    {{- end -}}
    {{- with .Content }}{{ . }}{{ end -}}
    {{- if .Params.read }}
      <h2 id='details'>Details</h2>

      <ul class='p-read-of h-cite'>
        <li><span class="p-name">{{ .Params.read.name }}</span> by <span class="p-author">{{ .Params.read.author }}</span></li>
        {{ with .Params.read.pages }}<li>Pages: <span class="p-pages">{{ . }}</span></li>{{ end }}
        {{ with .Params.read.publisher }}<li>Publisher: <span class="p-publisher">{{ . }}</span></li>{{ end }}
        {{ with .Params.read.uid }}
          {{ $parts := split . ":" }}
          {{ $type := index $parts 0 }}
          {{ $id := index $parts 1 }}
          <li><span style='text-transform: uppercase'>{{ $type }}</span>: {{ $id }}</li>
        {{ end }}
      </ul>
    {{- end }}

    {{- if $hasPhotos }}
      {{ if .Params.photos }}
        {{ $slug := strings.TrimSuffix "/" .RelPermalink }}
        {{ $slug = strings.TrimPrefix "/" $slug }}
        {{ $slug = strings.Replace $slug "/" "-" }}

        <div class='fw fg fg-{{ $slug }}'>
          {{ range .Params.photos }}
            {{ partial "helpers/figure" (dict
              "Destination" .url
              "Title" .title
              "IsBlock" true
            )}}
          {{ end }}
        </div>
      {{ else }}
        {{ partial "helpers/figure" (dict
          "Destination" .Params.coverImage
          "Title" .Title
          "IsBlock" true
          "Class" "fw"
        )}}
      {{ end }}
    {{ end }}
  </div>
{{- end -}}
