{{- if .Params.feedContentWarning -}}
  <em>Not all of the content might be visible on your feed reader. Consider checking out the <a href='{{ .Permalink }}' rel='noopener noreferrer'>original post</a>.</em>
{{- end -}}
{{- partialCached "post/content" . .Permalink }}
<hr />
<div style="font-size: 0.9em;">
  <p>
    💬 Reply with
    <a href="mailto:mail@hacdias.com?subject=Re: {{ .Page.Title }}" rel='noopener noreferrer'>E-Mail</a>,
    <a href="https://fosstodon.org/@hacdias" rel='noopener noreferrer'>Mastodon</a>,
    <a href="https://bsky.app/profile/hacdias.com" rel='noopener noreferrer'>Bluesky</a>.
  </p>
</div>
