{{ if eq .Section "posts" }}
  <footer class="box small">
    {{ if .Lastmod.After .Date }}
    <p>
      🖊️ Updated on
      <time datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{- .Lastmod.Format "2 January 2006" }} at {{ .Lastmod.Format "15:04" -}}
      </time>.
    </p>
    {{ end }}

    <p>
      💬 Reply with
      <a href="mailto:mail@hacdias.com?subject=Re: {{ .Page.Title }}" rel='noopener noreferrer'>E-Mail</a>,
      <a href="https://fosstodon.org/@hacdias" rel='noopener noreferrer'>Mastodon</a>,
      <a href="https://bsky.app/profile/hacdias.com" rel='noopener noreferrer'>Bluesky</a>,
      <a href="https://indieweb.org/Webmention" rel='noopener noreferrer'>Webmentions</a>.
    </p>

    {{ with .Page.Params.syndication }}
    <p>
      🌐  This post can also be found on
      {{ range $i, $s := . -}}
        {{- if ne $i 0 }}, {{ end -}}
        <a class='u-syndication' rel="noopener noreferrer" href="{{ . }}">
          {{- $domain := (urls.Parse $s).Host -}}
          {{- partialCached "favicon" $domain $domain }}
          {{ $domain -}}
        </a>
      {{- end -}}.
    </p>
    {{ end }}
  </footer>
{{ end }}
