{{ if not .Listing }}
  {{ if in (slice "articles" "photos" "readings") .Page.Section }}
    <footer>
      <div class='box' style='background-color: var(--c); color: var(--c-text);'>
        <p>💬 <strong>Reply via:</strong>
          <a href="mailto:mail@hacdias.com?subject=Re: {{ .Page.Title }}" rel='noopener noreferrer'>E-mail</a>,
          <a href='https://fosstodon.org/@hacdias' rel='noopener noreferrer'>Mastodon</a>,
          or
          <a href='https://twitter.com/hacdias' rel='noopener noreferrer'>X</a>.
        </p>
      </div>
    </footer>
  {{ end }}
{{ end }}

<div class="h-card u-author" hidden>
  Authored by
  <a href="{{ absURL "/" }}" class="u-url p-name">{{ .Page.Site.Params.author.name }}</a>
  <a class='u-photo' href="{{ .Page.Site.Params.author.photo }}">(Photo)</a>
</div>
