{{- $isListing := .Listing -}}
{{- with .Page -}}
  {{- $hasDate := or (not .Date.IsZero) (not .Lastmod.IsZero) -}}
  {{- $metadata := or $hasDate .Params.tags -}}
  {{- $header := "1" -}}
  {{- if $isListing }}{{ $header = "2"  }}{{ end -}}
  <header>
    {{- if .Title -}}
      <h{{ $header }} class='p-name'>
        <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="nl">{{- .Title -}}</a>
      </h{{ $header }}>
    {{- end -}}

    {{- if $metadata -}}
    <p>
      {{- if $hasDate -}}
        <a href="{{ relURL .Permalink }}" class="u-url nl">
          {{- if not .Date.IsZero -}}
            <time class='dt-published' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              Published on {{ .Date.Format "2 January 2006" }}
            </time>
          {{- end -}}
        </a>
        by <span class="h-card u-author">
          <img class='icon u-photo' src='{{ .Page.Site.Params.author.photo }}'>
          <a href="{{ absURL "/" }}" class="u-url p-name">{{ .Page.Site.Params.author.name }}</a>
        </span>
      {{- end -}}
      {{- range .Params.tags }}
        <a class="p-category" href="{{ ($.Page.Site.GetPage (printf "/tags/%s" .)).RelPermalink }}">{{ . }}</a>
      {{- end -}}
    </p>
    {{- end -}}

    {{- if not $hasDate -}}
    <div class="h-card u-author" hidden>
      Authored by
      <a href="{{ absURL "/" }}" class="u-url p-name">{{ .Page.Site.Params.author.name }}</a>
      <a class='u-photo' href="{{ .Page.Site.Params.author.photo }}">(Photo)</a>
    </div>
    {{- end -}}
  </header>
{{- end -}}