{{ $hasDate := or (not .Date.IsZero) (not .Lastmod.IsZero) }}
{{ $metadata := or $hasDate .Params.tags }}
{{ if or .Title $metadata }}
<header>
  {{ if .Title }}
    <h2 class='p-name'>
      <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="nl">{{- .Title -}}</a>
    </h2>
  {{ end }}

  {{ if $metadata }}
  <p>
    {{ if $hasDate }}
      {{ partial "post/header-date" . }}
    {{ end }}
    {{ range .Params.tags -}}
      <a class="tag" href="{{ ($.Page.Site.GetPage (printf "/tags/%s" .)).RelPermalink }}">#{{ . }}</a>
    {{ end -}}
  </p>
  {{ end }}
</header>
{{ end }}
