{{ $isLong := strings.Contains .RawContent "<!--more-->" }}
<article class='h-entry card'>
  {{- partialCached "post/header" (dict "Page" . "Listing" true) .Permalink true }}
  {{- if $isLong }}
    {{- with .Summary }}
      <div class='p-summary'>{{ . }}</div>
    {{- end }}
  {{- else }}
    {{- partialCached "post/content" . .Permalink }}
  {{- end }}
  {{- partialCached "post/footer" (dict "Page" . "Listing" true) .Permalink true }}
  {{- if $isLong }}
    <a href='{{ .RelPermalink }}' class='more'>Read More →</a>
  {{- end }}
</article>
