{{ $isLong := strings.Contains .RawContent "<!--more-->" }}
<article class='h-entry card'>
  {{- $data := dict "Page" . "Listing" true -}}
  {{- partialCached "post/header" $data .Permalink $data.Listing }}
  {{- if $isLong }}
    {{- with .Summary }}
      <div class='p-summary'>{{ . }}</div>
    {{- end }}
  {{- else }}
    {{- partialCached "post/content" . .Permalink }}
  {{- end }}
  {{- partialCached "post/footer" $data .Permalink $data.Listing }}
  {{- if $isLong }}
    <a href='{{ .RelPermalink }}' class='more'>Read More →</a>
  {{- end }}
</article>
