<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>
<head>
  {{ partial "base/head" . }}
</head>
<body>
  {{ $themeJS := resources.Get "js/theme.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script type='text/javascript' src='{{ $themeJS.Permalink }}' integrity='{{ $themeJS.Data.Integrity }}'></script>

  <a href="#main" id='skip-to-content'>Skip to content</a>
  <div class='container'>
    {{ partial "base/header" . }}
    <main id='main'>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "base/footer" . }}
  </div>

  {{ $twemoji := resources.Get "js/vendor/twemoji.min.js" }}
  {{ $app := resources.Get "js/app.js" }}
  {{ $js := slice $twemoji $app | resources.Concat "js/app.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script type='text/javascript' src='{{ $js.Permalink }}' integrity='{{ $js.Data.Integrity }}'></script>
</body>
</html>
