{{ define "main" }}
  <div class='h-card' hidden>
    <a href='{{ absURL "/" }}' class='u-uid u-url p-name'>{{ .Site.Params.author.name }}</a>
    <a class='u-photo' href='{{ .Site.Params.author.photo }}'>(Photo)</data>
    <a href='mailto:{{ .Site.Params.author.email }}' rel='me' class='u-email'>{{ .Site.Params.author.email }}</a>
    <a class='u-key' href='{{ absURL "/pubkey.asc" }}'>PGP key</a>
    <div class='p-note'>{{ .Site.Params.site.description }}</div>
  </div>

  {{- partialCached "post/content" . .Permalink -}}

  {{- $pages := where .Site.RegularPages "Params.categories" "intersect" (slice "articles" "readings") -}}
  <h2 id="freshly-ground">🪴 Freshly Planted</h2>
  {{- template "items" $pages -}}
  <p class='lg small'><a href='{{ relURL "/articles" }}'>More articles...</a></p>

  <h2 id="latest-captures">🎞️ Freshly Captured</h2>
  {{- $photos := where .Site.RegularPages "Params.categories" "intersect" (slice "photos") -}}
  {{- template "photos" (first 3 $photos ) -}}
  <p class='lg small'><a href='{{ relURL "/photos" }}'>More photos...</a></p>

  <h2 id="favourite-articles">🌟 Favourite Articles</h2>
  {{- $favoritePosts := slice -}}
  {{- range .Params.favoritePosts -}}
    {{- $favoritePosts = $favoritePosts | append ($.GetPage .) -}}
  {{- end -}}
  {{- template "items" $favoritePosts -}}

  <h2 id="favourite-captures">📸 Favourite Captures</h2>
  {{- $favoritePhotos := slice -}}
  {{- range .Params.favoriteCaptures -}}
    {{- $favoritePhotos = $favoritePhotos | append ($.GetPage .) -}}
  {{- end }}
  {{- template "photos" $favoritePhotos -}}
  <style>
  #favourite-captures + .fg > div:nth-child(3) img {
    object-position: -13px;
  }
  </style>
{{ end }}

{{- define "item" }}
<li class='h-entry'>
  <a href='{{ .RelPermalink }}' class='nl lh p-name u-url'>{{ partial "flag" .Params.language }} {{ .Title }}</a>
  <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='tab lg small dt-published'>{{ .Date.Format "2006-01-02" }}</time>
</li>
{{- end }}

{{- define "items" }}
<ul class='h-feed tb'>
  {{ range (first 4 . ) }}
    {{ template "item" . }}
  {{ end }}
</ul>
{{ end }}

{{- define "photos" }}
<div class='fg'>
  {{ range . }}
    <div class='br'>
      <a href='{{ .RelPermalink }}' class='nl lh p-name u-url'>
        {{ partial "helpers/figure" (dict
          "Destination" .Params.coverImage
          "Title" .Title
          "IsBlock" true
          "Sizes" (slice 250 500 1000)
        )}}
      </a>
    </div>
  {{ end }}
</div>
{{- end }}
