{{ define "main" }}
  <main role="main">
    {{ partialCached "post/content" . .Permalink }}

    <div class="copy">
      {{- $pages := partialCached "fns/pages" . .Permalink }}
      <h2 id="freshly-ground">🪴 Freshly Planted</h2>
      <div class='h-feed logs'>
        <div>
          {{ range (first 4 $pages ) }}
            {{ template "item" . }}
          {{ end }}
        </div>
      </div>

      <h2 id="personal-favourites">🌟 Personal Favourites</h2>
      <div class='h-feed logs'>
        <div>
          {{- range .Params.favoritePosts }}
            {{- template "item" ($.GetPage .) }}
          {{- end }}
        </div>
      </div>

      <h2 id="latest-captures">📸 Latest Captures</h2>
      <div class='fg'>
        {{ $photos := where $pages "Params.categories" "intersect" (slice "photos") }}
        {{ range (first 6 $photos) }}
          <div class='card'>
            <a href='{{ .RelPermalink }}' class='nl lh p-name u-url'>
              {{ partial "helpers/figure" (dict
                "Destination" .Params.coverImage
                "Title" .Title
                "IsBlock" true
              )}}
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}

{{- define "item" }}
<div class='e h-entry'>
  <div>
    <a href='{{ .RelPermalink }}' class='nl lh p-name u-url'>{{ .Title }}</a>
  </div>
  <div>
    <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='tab lg small dt-published'>{{ .Date.Format "02 Jan 2006" }}</time>
  </div>
</div>
{{- end }}
