{{ define "main" }}
<main role='main'>
  <header>
    <h1>{{ partialCached "fns/title" . .Title .Data.Singular }}</h1>
  </header>
  {{ partialCached "post/content" . .Permalink }}

  {{ $logs := .Site.Data.readings }}
  
  <h2 id='want-to-read'>📖 Want To Read</h2>
  {{ with (index $logs "want-to-read")}}
    {{ template "ulogs" . }}
  {{ else }}
    <p>No books on my list right now. Feel free to <a href="/contact">suggest</a> something?</p>
  {{ end }}

  <h2 id='reading'>📚 Reading</h2>
  {{ with (index $logs "reading")}}
    {{ template "ulogs" . }}
  {{ else }}
    <p>Not reading anything at the moment.</p>
  {{ end }}

  <h2 id='read'>📕 Read</h2>

  {{ $read := partial "fns/pages-as-logs" .Pages }}
  {{ $read = $read | append (index $logs "read" ) }}
  {{ partial "logs" $read }}
</main>
{{ end }}

{{ define "ulogs" }}
<div class='logs'>
  {{ range . }}
    <div class='e'>
      <div>
        {{ with .url }}<a href='{{ . }}' class='nl lh'>{{ end }}
          {{ .name }}
        {{ with .url }}</a>{{ end }}
      </div>
      <div>{{ .author }}</div>
      <div></div>
      <div><time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" .date }}' class='tab lg small'>{{ dateFormat "Jan 02" .date }}</time></div>
    </div>
  {{ end }}
</div>
{{ end }}
