ul.checklist,
ul.checklist ul {
  list-style: none;
  padding-left: 0.5rem;
}

ul.checklist input {
  margin-right: 0.5rem;
}

ul.checklist li > ul {
  padding-left: 1.5rem;
}

.trips {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 0.25rem;
}

.trips li {
  margin: 0;
}
