:root {
  --accent: #212121;
}

.copy ol {
  list-style: none;
  padding-left: 0.5rem;
}

.copy ol input {
  margin-right: 0.5rem;
}

.copy li > ol {
  padding-left: 1.5rem;
}

.trips ul {
  margin: 0;
}

.trips ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13rem,1fr));
  grid-column-gap: 1rem;
}

@media screen and (min-width: 53.001rem) {
  body {
    background-color: #111;
    background-image: url(https://cdn.hacdias.com/media/2021-02-space.gif);
  }

  #navbar {
    border-radius: 0;
  }
}
