:root {
  /* Font sizes: https://type-scale.com/, Minor Third */
  --f1: 1.728rem;
  --f2: 1.44rem;
  --f3: 1.2rem;
  --f4: 1rem;
  --f5: 0.833rem;

  /* Colors */
  --accent: #3558a0;
  --accent-text: #f4f4f4;
  --background: #fbfbfb;

  /* Blacks to whites */
  --dark-gray: #333333;
  --light-gray: #666666;
  --light-white: #eeeeee;
  --near-white: #f4f4f4;
  --white: #ffffff;

  /* Spacings */
  --ls: 2.5rem;
  --hls: 1.25rem;
  --ms: 1rem;
  --hms: 0.5rem;

  /* Others */
  --max-width: 52rem;
  --border: 1px;
  --radius: 0.4rem;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: var(--dark-gray);
  background-color: var(--background);
  background-attachment: fixed;
  line-height: 1.25;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
}

code, kbd, samp, pre {
  font-family: Consolas, monaco, monospace;
}

:not(pre) > code {
  border-radius: var(--radius);
  padding: 0.1rem 0.25rem;
  background: var(--near-white);
  border: var(--border) solid var(--light-white);
}

svg,
video,
img {
  max-width: 100%;
}

.icon,
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.icon {
  display: inline-block;
}

figure {
  margin: var(--ms) 0;
}

audio,
video,
figure img {
  width: 100%;
  display: block;
}

.footnotes::before,
h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.3;
  margin: 1.2em 0 0.6em 0;
}

h1 {
  font-size: var(--f1)
}

h2 {
  font-size: var(--f2);
}

h3 {
  font-size: var(--f3);
}

h4 {
  font-size: var(--f4);
  text-transform: uppercase;
}

code,
.small,
small {
  font-size: var(--f5);
}

a {
  color: inherit;
  text-decoration: underline;
  word-wrap: break-word;
  cursor: pointer;
}

li {
  margin: 0.25em 0;
}

::marker {
  color: var(--accent)
}

.nl,
.nl:active,
.nl:visited {
  text-decoration: none;
  color: inherit;
}

.lh:hover {
  text-decoration: underline;
}

.dn {
  display: none !important;
}

.db {
  display: block;
}

.br {
  border-radius: var(--radius);
}

.lg {
  color: var(--light-gray);
}

input,
select,
textarea {
  padding: .5rem;
  border: 1px solid var(--light-white);
  outline: 0;
  min-width: 0;
  border-radius: var(--radius);
  background: var(--white);
  color: var(--dark-gray);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--accent);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--near-white);
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

button {
  background-color: var(--accent);
  border: var(--border) solid var(--accent);
  font-weight: 700;
  padding: var(--hms);
  color: var(--accent-text);
  cursor: pointer;
  border-radius: var(--radius);
  outline: 0;
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}

#footer {
  margin-top: 2rem;
  font-size: var(--f5);
}

#footer > div {
  display: flex;
}

#footer > div > div {
  margin-bottom: 0.5rem;
}

#footer > div > div:first-of-type {
  margin-right: auto;
}

#footer img {
  margin-right: 0.25rem;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

hr {
  border: 0;
  border-top: 1px solid var(--light-white);
  margin: 1.2em auto;
}

ul,
ol {
  padding-left: 2em;
}

figcaption {
  text-align: center;
  font-size: var(--f5);
  color: var(--dark-gray);
  margin: 0.25rem 0;
}

main header {
  margin: var(--hls) 0;
}

main header h1,
main header h3 {
  margin: 0;
}

main footer {
  margin: var(--ms) 0;
}

main footer p,
main header p {
  font-size: var(--f5);
  color: var(--light-gray);
  font-weight: 500;
  margin: .25em 0;
}

table {
  width: 100%;
  margin: 1rem 0;
  overflow: auto;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
}

table th,
table td {
  padding: var(--hms);
  border: var(--border) solid var(--light-white);
}

table tr {
  border-top: var(--border) solid var(--light-white);
}

table tr:nth-child(2n) {
  background-color: var(--near-white);
}

table img {
  background-color: transparent;
}

blockquote {
  padding-left: 0.75rem;
  margin: 1em 0 1rem 1rem;
  border-left: 0.2rem solid var(--light-white);
}

details summary {
  cursor: pointer;
}

.youtube-player {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.fw {
  width: calc(100% + 2 * var(--ls));
  margin-left: calc(var(--ls) * -1);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#header,
#header #home {
  display: flex;
  align-items: center;
}

#header form {
  margin-left: auto;
  font-size: var(--f5);
}

#header form input {
  width: 12rem;
}

#header form button {
  background: var(--near-white);
  border-color: var(--light-white);
  padding: var(--hms);
}

#header form button:hover {
  background: var(--light-white);
}

#header p {
  margin: 0;
}

#header .avatar {
  width: 5rem;
  margin-right: var(--ms);
}

#header .avatar img {
  display: block;
}

#header .name {
  font-weight: bold;
  font-size: var(--f2);
}

#header label {
  display: none;
}

#navbar {
  display: flex;
  background-color: var(--accent);
  color: var(--accent-text);
  border-radius: var(--radius);
  margin-top: 0;
  margin-bottom: var(--hls);
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}

#navbar label,
#navbar a {
  flex-grow: 1;
  display: block;
  padding: var(--hms);
}

#mobile-search,
#navbar label {
  display: none;
}

#navbar a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#navbar a[aria-current="page"] {
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  width: 100%;
  background-color: var(--background);
  max-width: var(--max-width);
  padding: var(--ms) var(--ls);
  margin: 0 auto;
}

.copy ol,
.copy p,
.copy figcaption,
.copy ul {
  line-height: 1.5;
}

.left,
.right {
  max-width: 20em;
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}

.left {
  float: left;
  margin-right: 1.5rem;
}

.right {
  float: right;
  margin-left: 1.5rem;
}

.inline-form {
  display:flex;
}

.inline-form input:first-of-type {
  flex-grow: 1;
}

.inline-form button {
  margin-left: var(--hms);
}

.block-form > * {
  display: block;
  width: 100%;
  margin: var(--hms) 0;
}

.box,
.toc,
.terms a,
.terms a:visited,
.highlight > pre,
.copy > pre {
  border: var(--border) solid var(--light-white);
  background-color: var(--near-white);
  border-radius: var(--radius);
}

.box, .toc {
  padding: var(--hms) var(--ms);
  margin: 1rem 0;
}

.box > *:first-child {
  margin-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
}

.box.attrs {
  font-size: var(--f5);
}

.box.attrs > span:not(:last-child)::after {
  content: ' •';
}

.terms ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.terms li {
  display: inline-block;
  margin: 0 var(--hms) var(--hms) 0;
}

.terms a,
.terms a:visited {
  text-decoration: none;
  font-size: var(--f5);
  padding: var(--hms);
  display: inline-block;
}

.terms a:hover {
  background-color: var(--light-white);
}

.terms.bold a,
.terms.bold a:visited {
  font-weight: bold;
}

.highlight > pre,
.copy > pre {
  overflow: auto;
  padding: var(--ms);
  /* needs !important because Chroma adds background inline */
  background-color: var(--near-white) !important;
}

.toc {
  float: right;
  margin: 0 0 var(--ms) var(--ms);
}

.toc p {
  margin: 0;
  line-height: 1;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc ul:first-of-type > li:last-child {
  margin-bottom: 0;
}

.toc ul ul {
  padding-left: 1rem;
}

.toc a {
  text-decoration: none;
}

#preview,
#preview::after {
  left: 0;
  width: 100%;
}

#preview {
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 2.5rem var(--ls);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

#preview::after {
  content: 'tap anywhere to close';
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 2.5rem;
  font-size: var(--f5);
}

#preview img {
  max-height: 100%;
}

.fg {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.fg figure {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fg figure picture {
  flex-grow: 1;
}

.fg figure img {
  object-fit: cover;
  height: 100%;
}

.tab {
  font-variant-numeric: tabular-nums;
  letter-spacing: -.012em;
  white-space: pre;
}

.logs .e {
  display: grid;
  grid-template-columns: auto 10rem 5rem 3rem;
  grid-gap: 1rem;
  align-items: center;
}

.logs .e:not(:last-of-type) {
  border-bottom: var(--border) solid var(--light-white);
}

.logs .e:hover {
  background-color: var(--near-white);
}

.box.logs .e:hover {
  background-color: var(--light-white);
}

.logs .e > div {
  margin: var(--hms) 0;
}

.logs .e > div:first-child {
  font-weight: 600;
}

.logs .e > div:first-child a {
  display: inline-block;
  width: 100%;
}

.logs .h {
  position: sticky;
  top: 0;
  padding: var(--hms) 0;
  background: var(--background);
  border-bottom: calc(2 * var(--border)) solid var(--accent);
}

.box.logs .h {
  background: var(--near-white);
}

.logs .h span:first-of-type {
  font-size: var(--f2);
  color: var(--accent);
  font-weight: bold;
}

.pagination {
  border: 1px solid var(--light-white);
  border-radius: var(--radius);
  background: var(--near-white);
  display: flex;
}

.pagination a {
  flex-grow: 1;
  padding: var(--hms);
  text-align: center;
  text-decoration: none;
}

.pagination a:hover {
  background-color: var(--light-white);
}

.pagination a[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination a[aria-current="page"] {
  background-color: var(--light-white);
  font-weight: bold;
}

@media screen and (max-width: 53rem) {
  :root {
    --max-width: 53rem;
    --ls: 1rem;
    --hls: 1rem;
  }

  body {
    background: var(--background);
  }

  #header {
    padding: 0 var(--ls);
  }

  #navbar {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 44rem) {
  .lh {
    text-decoration: underline;
  }

  #navbar,
  #navbar label,
  #toggler:checked + #navbar a {
    display: block;
    text-align: left;
  }

  #navbar a,
  #header form input {
    display: none;
  }

  .logs .e {
    display: block !important;
  }

  .fg {
    grid-gap: 0.5rem;
  }
}

@media print {
  html,
  body {
    background: white !important;
    font-size: 11pt;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  #header,
  #navbar,
  #footer {
    display: none;
  }

  a:hover {
    background: none;
  }
}
