.card {
  margin: var(--ms) 0;
  overflow: hidden;
  border-radius: var(--radius);
  border: var(--border) solid var(--light-white);
}

.card > * {
  padding: 0 var(--ms);
}

.card header {
  margin: var(--ms) 0;
}

.card > div > .fw:last-child,
.card > div > .fw:last-child figure {
  margin-bottom: 0;
}

.card > div > .fw {
  width: calc(100% + 2 * var(--ms));
  margin-left: calc(var(--ms) * -1);
}

.card h1,
.card h2 {
  font-size: var(--f2);
}

.card .more {
  display: block;
  padding: var(--hms)var(--ms);
  font-size: var(--f5);
  text-align: center;
  font-weight: 700;
  clear: both;
  border-top: 1px solid var(--light-white);
}
