.eagle-actions {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.eagle-pre {
  word-break: break-all;
  white-space: break-spaces;
}

.eagle-options {
  margin: 1rem 0;
}

.eagle-options label {
  display: block;
  margin: 0.5rem 0;
}

.eagle-options label * {
  margin: 0 !important;
  width: auto !important;
  display: inline !important;
}
