:root {
  /* Font sizes: https://type-scale.com/, Minor Third */
  --f1: 2.074rem;
  --f2: 1.728rem;
  --f3: 1.44rem;
  --f4: 1rem;
  --f5: 0.833rem;

  /* Colors */
  --text: #1a1a1a;
  --light-text: #555;
  --c-h: 223;
  --c-s: 50%;
  --c-l: 43%;
  --c: hsl(var(--c-h), var(--c-s), var(--c-l));
  --bg-l: 98%;
  --bg: hsl(var(--c-h), var(--c-s), var(--bg-l));
  --mg-l: 96%;
  --mg: hsl(var(--c-h), var(--c-s), var(--mg-l));
  --fg-l: 90%;
  --fg: hsl(var(--c-h), var(--c-s), var(--fg-l));

  /* Highlight colors */
  --h-a: #1c01ce;
  --h-b: #c41a16;
  --h-c: #a90d91;
  --h-d: #177500;
  --h-e: #633820;

  /* Spacings */
  --s3: 2rem;
  --s2: 1rem;
  --s1: 0.5rem;

  /* Others */
  --max-width: 50rem;
  --border: 1px;
  --radius: 0.4rem;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  line-height: 1.5;
}

body {
  color: var(--text);
  background-color: var(--bg);
  background-attachment: fixed;
}

@view-transition {
  navigation: auto;
}

code,
kbd,
samp,
pre {
  font-family:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
}

:not(pre) > code {
  border-radius: calc(var(--radius) / 2);
  padding: 1px 2px;
  background: var(--mg);
  border: var(--border) solid var(--fg);
}

svg,
video,
img {
  max-width: 100%;
}

.icon,
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.icon {
  display: inline-block;
}

.media,
audio,
video,
figure img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius);
  overflow: hidden;
}

.embedded-video {
  position: relative;
  aspect-ratio: 16 / 9;
}

.embedded-video iframe {
  width: 100%;
  height: 100%;
}

.footnotes::before,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  line-height: 1.3;
  margin: 2rem 0 0.5rem 0;
}

h1 {
  font-size: var(--f1);
}

h2 {
  font-size: var(--f2);
}

h3 {
  font-size: var(--f3);
}

h4 {
  font-size: var(--f4);
  text-transform: uppercase;
}

h5 {
  font-size: var(--f5);
}

code,
.small,
small {
  font-size: var(--f5);
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nl,
.nl:visited,
#navbar a,
#navbar a:visited,
#sidebar a,
#sidebar a:visited {
  text-decoration: none;
  color: inherit;
}

.nl:active,
.nl:hover,
a:active,
a:hover,
#navbar a:active,
#navbar a:hover,
#sidebar a:active,
#sidebar a:hover {
  color: var(--c);
}

li {
  margin: 0.25em 0;
}

:target {
  border: 1px dashed var(--c);
  background: var(--mg);
}

::marker {
  color: var(--c);
}

mark {
  background-color: var(--c);
  color: var(--bg);
}

.dn {
  display: none !important;
}

.db {
  display: block;
}

.br {
  border-radius: var(--radius);
  overflow: hidden;
}

.lg {
  color: var(--light-text);
}

.wn {
  font-weight: 400;
}

.ah {
  opacity: 0.1;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: var(--border) solid var(--fg);
  outline: 0;
  min-width: 0;
  border-radius: var(--radius);
  background: var(--bg);
  color: var(--text);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--c);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--mg);
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

hr {
  border: 0;
  border-top: var(--border) solid var(--fg);
  margin: 1.2em auto;
}

ul,
ol {
  padding-left: 2em;
}

figcaption {
  font-size: var(--f5);
  color: var(--light-text);
  margin: 0.5rem 0;
  font-style: italic;
}

main header {
  margin: var(--s2) 0;
}

main header h1,
main header h2 {
  margin: 0;
}

main header p {
  margin: 0;
  font-weight: 300;
}

main footer .tb,
main .tb.p-read-of {
  grid-template-columns: 6rem 1fr;
}

main footer .tb li,
main .tb.p-read-of .tb li {
  grid-column: span 2;
}

table {
  width: 100%;
  margin: 1rem 0;
  overflow: auto;
  border-collapse: collapse;
}

table thead {
  background-color: var(--fg);
  font-weight: 700;
}

table th,
table td {
  padding: var(--s1);
  border: var(--border) solid var(--fg);
}

table tr {
  border-top: var(--border) solid var(--fg);
}

table tr:nth-child(2n) {
  background-color: var(--mg);
}

table img {
  background-color: transparent;
}

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0;
}

details summary {
  cursor: pointer;
}

#container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100dvh;
}

#header,
#sidebar {
  border-right: var(--border) solid var(--fg);
  padding: 0 var(--s3);
}

#sidebar {
  grid-row: span 2;
}

#sidebar p {
  margin-top: var(--s2);
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#header,
#navbar {
  border-bottom: var(--border) solid var(--fg);
}

#header > a {
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  margin: var(--s2) 0;
  user-select: none;
}

#header .monogram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: var(--c);
  color: var(--bg);
  font-weight: 900;
  border-radius: var(--radius);
  font-size: var(--f1);
  letter-spacing: -0.03em;
  margin-right: var(--s1);
}

#header .name {
  font-weight: 700;
  font-size: var(--f3);
}

#header p {
  margin: 0;
  line-height: 1.3;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 0 var(--s3);
  white-space: nowrap;
  overflow: auto;
  flex-wrap: nowrap;
}

#navbar a {
  font-weight: bold;
  margin-right: var(--s3);
}

#navbar a[aria-current='page'] {
  color: var(--c);
}

#main {
  max-width: var(--max-width);
  padding: 0 var(--s3);
}

#footer {
  max-width: var(--max-width);
  padding: var(--s1) var(--s3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left,
.right {
  max-width: clamp(10rem, 40%, 20rem);
  text-align: center;
  margin: 0;
  width: 100%;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

.inline-form {
  display: flex;
}

.inline-form input:first-of-type {
  flex-grow: 1;
}

.inline-form button {
  margin-left: var(--s1);
}

.box,
button,
.button,
.buttons a,
.buttons a:visited,
.highlight > pre,
main pre {
  border: var(--border) solid var(--fg);
  background-color: var(--mg);
  border-radius: var(--radius);
}

.card {
  border-radius: var(--radius);
  border: var(--border) solid var(--fg);
  display: block;
  text-decoration: none;
  padding: 0 var(--s2);
}

.card h2 {
  font-size: var(--f3);
  transition: all 0.2s ease;
}

.card:hover {
  color: inherit;
  background-color: var(--mg);
  border-color: var(--c);
}

.card .extra {
  position: relative;
}

.card .extra span {
  content: var(--extra);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color(srgb 0 0 0 / 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--f1);
  font-weight: bold;
  border-radius: var(--radius);
}

.card .fg {
  grid-template-columns: repeat(3, 1fr);
}

.card .fg-2 {
  grid-template-columns: repeat(2, 1fr);
}

.card:hover h2 {
  color: var(--c);
}

.box {
  padding: var(--s1) var(--s2);
}

.box > *:first-child {
  margin-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
}

button,
.button,
.button:visited,
.buttons a,
.buttons a:visited {
  text-decoration: none;
  padding: var(--s1);
  display: inline-block;
  font-weight: 600;
  height: 100%;
  outline: 0;
  cursor: pointer;
  color: var(--text);
  transition: all 0.2s ease;
}

button:hover,
.button:hover,
.buttons a:hover {
  border-color: var(--c);
  color: var(--c);
}

.buttons {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: var(--s1);
  margin: 0 0 var(--s1) 0;
  font-size: var(--f5);
}

.buttons li {
  display: block;
  margin: 0;
}

.buttons a {
  display: block;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.highlight > pre,
main pre {
  overflow: auto;
  padding: var(--s2);
  background-color: var(--mg);
}

.highlight .line {
  display: flex;
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo {
  color: var(--h-a);
}

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: var(--h-b);
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nb {
  color: var(--h-c);
}

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .cp,
.highlight .cpf {
  color: var(--h-d);
}

#preview,
#preview::after {
  left: 0;
  width: 100%;
}

#preview {
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 2.5rem var(--s3);
  background: rgba(255, 255, 255, 0.9);
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

#preview::after {
  content: 'tap anywhere to close';
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 2.5rem;
  font-size: var(--f5);
}

#preview img {
  max-height: 100%;
}

.fg {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
}

.fg figure {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fg figure picture {
  flex-grow: 1;
}

.fg figure img {
  object-fit: cover;
  height: 100%;
}

.tab {
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.012em;
  white-space: pre;
  font-weight: 300;
}

.tbh {
  position: sticky;
  top: 0;
  margin-bottom: 0;
  padding: var(--s1) 0;
  background: var(--bg);
  border-bottom: var(--border) solid var(--fg);
  color: var(--c);
  z-index: 100;
}

.tbh small {
  font-weight: 300;
}

.tb {
  padding: 0;
  list-style-type: none;
  line-height: 1.25;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr min-content;
}

.tbh + .tb {
  margin: 0;
}

ul.tb > li,
.tb .tbi {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  margin: 0;
  align-items: center;
  transition: all 0.2s ease;
}

ul.tb > li:not(:last-of-type),
.tb > .tbm:not(:last-of-type) .tbi {
  border-bottom: var(--border) solid var(--fg);
}

ul.tb > li:hover,
.tb .tbi:hover {
  background-color: var(--mg);
}

ul.tb > li > *,
.tb .tbi > * {
  display: block;
  margin: var(--s1) 0;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

ul.tb > li > *:first-child,
.tb .tbi > *:first-child {
  font-weight: 600;
}

.tb .tbm {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}

.tb details::details-content {
  grid-column: span 2;
  display: block;
  width: 100%;
}

.tb summary::marker, /* Latest Chrome, Edge, Firefox */
.tb summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.tb details .tb {
  font-size: var(--f5);
  background: var(--mg);
  margin: 0;
}

.tb,
.box,
.fg,
.buttons,
.card,
.card header,
figure,
.embedded-video,
.media {
  margin: var(--s2) 0;
}

.half-star {
  position: relative;
}

.half-star::before {
  content: '★';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  line-height: 1.2;
}

#pagination {
  margin: 1rem 0;
  display: flex;
  font-weight: 700;
  overflow: hidden;
  justify-content: space-between;
  gap: var(--s1);
}

#pagination a,
#pagination label {
  flex-grow: 1;
  padding: var(--s1);
  text-align: center;
  text-decoration: none;
  border-radius: var(--radius);
  border: var(--border) solid var(--fg);
  background-color: var(--mg);
}

#pagination a[aria-current='page'],
#pagination a:not([aria-disabled]):hover {
  color: var(--c);
  border-color: var(--c);
}

#pagination a[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}

#skip-to-content {
  position: absolute;
  top: -20em;
}

#skip-to-content:hover,
#skip-to-content:focus {
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  width: max-content;
  background: var(--fg);
  color: var(--c);
  padding: var(--s1);
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-h: 200;
    --c-s: 100%;
    --c-l: 40%;
    --fg-l: 15%;
    --mg-l: 9%;
    --bg-l: 2%;
    --text: #eee;
    --light-text: #fefefe;

    --h-a: #d0bf69;
    --h-b: #fc6a5d;
    --h-c: #d0a8ff;
    --h-d: #6c7986;
    --h-e: #fd8f3f;
  }

  :root #preview {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }
}

@media screen and (max-width: 60rem) {
  :root {
    --s3: 1rem;
    --max-width: 100%;
    --f1: 1.728rem;
    --f2: 1.44rem;
    --f3: 1.2rem;
  }

  .nl {
    text-decoration: underline;
  }

  #container {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content 1fr max-content max-content;
  }

  #header,
  #sidebar {
    border-right: 0;
    border-bottom: var(--border) solid var(--fg);
  }

  #navbar,
  #sidebar {
    padding: 0 var(--s2);
    border-right: 0;
  }

  #sidebar {
    white-space: nowrap;
    overflow: auto;
    grid-row: 4;
    border-top: var(--border) solid var(--fg);
  }

  #sidebar p {
    display: inline;
    margin-right: var(--s2);
  }

  #sidebar ul {
    display: inline;
  }

  #navbar a {
    padding: var(--s2) 0;
    flex-shrink: 0;
    border-bottom: 2px solid transparent;
  }

  #navbar a[aria-current='page'] {
    border-color: var(--c);
  }

  #sidebar ul li {
    display: inline-block;
    margin: 0;
  }

  #sidebar ul li a {
    display: inline-block;
    padding: var(--s2) 0;
    margin-right: var(--s2);
  }

  #footer {
    grid-column: auto;
  }

  .tb,
  ul.tb > li,
  .tb .tbi {
    display: flow-root;
    line-height: 1.5;
  }

  ul.tb > li > *,
  .tb .tbi > * {
    text-wrap: wrap;
  }

  .tb summary > *:first-child {
    text-decoration: underline;
  }
}

@media print {
  html,
  body,
  #container {
    background: white;
    font-size: 11pt;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  #header,
  #navbar,
  #sidebar,
  #footer {
    display: none;
  }

  a:hover {
    background: none;
  }
}
