:root {
  /* Font sizes: https://type-scale.com/, Minor Third */
  --f1: 2.074rem;
  --f2: 1.728rem;
  --f3: 1.44rem;
  --f4: 1rem;
  --f5: 0.833rem;

  /* Colors */
  --text: #212121;
  --light-text: #555555;
  --c-h: 223;
  --c-s: 50%;
  --c-l: 43%;
  --c: hsl(var(--c-h), var(--c-s), var(--c-l));
  --bg-l: 99%;
  --bg: hsl(var(--c-h), var(--c-s), var(--bg-l));
  --mg-l: 97%;
  --mg: hsl(var(--c-h), var(--c-s), var(--mg-l));
  --fg-l: 92%;
  --fg: hsl(var(--c-h), var(--c-s), var(--fg-l));

  /* Highlight colors */
  --h-a: #1c01ce;
  --h-b: #c41a16;
  --h-c: #a90d91;
  --h-d: #177500;
  --h-e: #633820;

  /* Spacings */
  --ls: 2.5rem;
  --hls: 1.25rem;
  --ms: 1rem;
  --hms: 0.5rem;

  /* Others */
  --max-width: 52rem;
  --border: 1px;
  --radius: 0.4rem;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  line-height: 1.25;
}

body {
  color: var(--text);
  background-color: var(--bg);
  background-attachment: fixed;
  min-height: 100vh;
}

@view-transition {
  navigation: auto;
}

code,
kbd,
samp,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

:not(pre) > code {
  border-radius: calc(var(--radius) / 2);
  padding: 1px 2px;
  background: var(--mg);
  border: var(--border) solid var(--fg);
}

svg,
video,
img {
  max-width: 100%;
}

.icon,
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.icon {
  display: inline-block;
}

.media,
audio,
video,
figure img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  overflow: hidden;
}

.embedded-video {
  position: relative;
  aspect-ratio: 16 / 9;
}

.embedded-video iframe {
  width: 100%;
  height: 100%;
}

.footnotes::before,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  line-height: 1.3;
  margin: 2rem 0 0.5rem 0;
}

h1 {
  font-size: var(--f1);
}

h2 {
  font-size: var(--f2);
}

h3 {
  font-size: var(--f3);
}

h4 {
  font-size: var(--f4);
  text-transform: uppercase;
}

code,
.small,
small {
  font-size: var(--f5);
}

a {
  color: inherit;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  cursor: pointer;
}

li {
  margin: 0.25em 0;
}

:target {
  border: 1px dashed var(--c);
  background: var(--fg);
}

::marker {
  color: var(--c);
}

.nl,
.nl:active,
.nl:visited {
  text-decoration: none;
  color: inherit;
}

.lh:hover {
  text-decoration: underline;
}

.dn {
  display: none !important;
}

.db {
  display: block;
}

.br {
  border-radius: var(--radius);
  overflow: hidden;
}

.lg {
  color: var(--light-text);
}

.wn {
  font-weight: 400;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid var(--fg);
  outline: 0;
  min-width: 0;
  border-radius: var(--radius);
  background: var(--bg);
  color: var(--text);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--c);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--mg);
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

#footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer > div {
  margin-bottom: var(--hms);
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

hr {
  border: 0;
  border-top: 1px solid var(--fg);
  margin: 1.2em auto;
}

ul,
ol {
  padding-left: 2em;
}

figcaption {
  text-align: center;
  font-size: var(--f5);
  color: var(--text);
  margin: 0.25rem 0;
}

main header {
  margin: var(--hls) 0;
}

main header h1,
main header h2 {
  margin: 0;
}

main header h1.smaller {
  font-size: var(--f2);
}

main header h2.smaller {
  font-size: var(--f3);
}

main header p {
  margin: 0;
}

main footer li,
main .tb.p-read-of li {
  grid-template-columns: 6rem auto;
}

main ol,
main p,
main figcaption,
main ul {
  line-height: 1.5;
}

table {
  width: 100%;
  margin: 1rem 0;
  overflow: auto;
  border-collapse: collapse;
}

table thead {
  background-color: var(--fg);
  font-weight: 700;
}

table th,
table td {
  padding: var(--hms);
  border: var(--border) solid var(--fg);
}

table tr {
  border-top: var(--border) solid var(--fg);
}

table tr:nth-child(2n) {
  background-color: var(--mg);
}

table img {
  background-color: transparent;
}

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0;
}

details summary {
  cursor: pointer;
}

#header,
#header #home {
  display: flex;
  align-items: center;
}

#header form {
  margin-left: auto;
  font-size: var(--f5);
  margin-bottom: 0;
}

#header form input {
  width: 12rem;
}

#header form button:hover {
  background: var(--fg);
}

#header p {
  margin: 0;
}

#header .avatar {
  width: 5rem;
  margin-right: var(--ms);
}

#header .avatar img {
  display: block;
}

#header .name {
  font-weight: 700;
  font-size: var(--f3);
}

#header label {
  display: none;
}

#navbar {
  width: calc(100% + 2 * var(--ls));
  margin-top: 0;
  margin-bottom: var(--hls);
  margin-left: calc(var(--ls) * -1);
  margin-bottom: var(--hls);
}

#navbar label {
  display: none;
}

.container {
  width: 100%;
  background-color: var(--bg);
  max-width: var(--max-width);
  padding: var(--ms) var(--ls);
  margin: 0 auto;
}

.left,
.right {
  max-width: 20em;
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}

.left {
  float: left;
  margin-right: 1.5rem;
}

.right {
  float: right;
  margin-left: 1.5rem;
}

.inline-form {
  display: flex;
}

.inline-form input:first-of-type {
  flex-grow: 1;
}

.inline-form button {
  margin-left: var(--hms);
}

.box,
nav,
button,
.button,
.buttons a,
.buttons a:visited,
.highlight > pre,
main pre {
  border: var(--border) solid var(--fg);
  background-color: var(--mg);
  border-radius: var(--radius);
}

.card {
  overflow: hidden;
  border-radius: var(--radius);
  border: var(--border) solid var(--fg);
  display: block
}

.card > * {
  padding: 0 var(--ms);
}

.card > .button {
  text-align: center;
  clear: both;
  border-width: var(--border) 0 0 0;
  border-radius: 0 0 var(--radius) var(--radius);
  display: block;
}

.box {
  padding: var(--hms) var(--ms);
}

.box > *:first-child {
  margin-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
}

button,
.button,
.button:visited,
.buttons a,
.buttons a:visited {
  text-decoration: none;
  padding: var(--hms);
  display: inline-block;
  font-weight: 600;
  height: 100%;
  outline: 0;
  cursor: pointer;
  color: var(--text);
}

button:hover,
.button:hover,
.buttons a:hover {
  background-color: var(--fg);
}

.buttons {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: var(--hms);
  margin: 0 0 var(--hms) 0;
  font-size: var(--f5);
}

.buttons li {
  display: block;
  margin: 0;
}

.buttons a {
  display: block;
}

.highlight > pre,
main pre {
  overflow: auto;
  padding: var(--ms);
  background-color: var(--mg);
}

.highlight .line {
  display: flex;
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo {
  color: var(--h-a);
}

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: var(--h-b);
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nb {
  color: var(--h-c);
}

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .cp,
.highlight .cpf {
  color: var(--h-d);
}

#preview,
#preview::after {
  left: 0;
  width: 100%;
}

#preview {
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 2.5rem var(--ls);
  background: rgba(255, 255, 255, 0.9);
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

:root.dark #preview {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

#preview::after {
  content: 'tap anywhere to close';
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 2.5rem;
  font-size: var(--f5);
}

#preview img {
  max-height: 100%;
}

.fg {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
}

.fg figure {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fg figure picture {
  flex-grow: 1;
}

.fg figure img {
  object-fit: cover;
  height: 100%;
}

.tab {
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.012em;
  white-space: pre;
}

.tbh {
  position: sticky;
  top: 0;
  margin: 0;
  padding: var(--hms) 0;
  background: var(--bg);
  border-bottom: calc(2 * var(--border)) solid var(--c);
  color: var(--c);
}

.tbh small {
  font-weight: 400;
}

.tb {
  padding: 0;
  list-style-type: none;
  line-height: 1.25;
}

.tbh + .tb {
  margin: 0;
}

.tb li {
  display: grid;
  margin: 0;
  grid-gap: 1rem;
  align-items: center;
}

.tb li:not(:last-of-type) {
  border-bottom: var(--border) solid var(--fg);
}

.tb li:hover {
  background-color: var(--mg);
}

.tb li > * {
  display: block;
  margin: var(--hms) 0;
}

.tb li > *:first-child {
  font-weight: 600;
}

.box.tb li {
  padding: 0 var(--ms);
}

.box.tb li:hover {
  background-color: var(--fg);
}

.tb,
.box,
.fg,
.buttons,
.card,
.card header,
figure,
.embedded-video,
.media,
nav {
  margin: var(--ms) 0;
}

nav {
  display: flex;
  font-weight: 700;
  overflow: hidden;
}

nav a,
nav label {
  flex-grow: 1;
  padding: var(--hms);
  text-align: center;
  text-decoration: none;
}

nav a:hover,
nav label:hover {
  background-color: var(--fg);
}

nav a[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}

nav a[aria-current='page'] {
  background-color: var(--fg);
  font-weight: 700;
}

#skip-to-content {
  position: absolute;
  top: -20em;
}

#skip-to-content:hover,
#skip-to-content:focus {
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  width: max-content;
  background: var(--fg);
  color: var(--c);
  padding: var(--hms);
  font-weight: 700;
}

:root.dark {
  --c-h: 200;
  --c-s: 100%;
  --c-l: 40%;
  --fg-l: 15%;
  --mg-l: 9%;
  --bg-l: 2%;
  --text: #eee;
  --light-text: #ccc;

  --h-a: #d0bf69;
  --h-b: #fc6a5d;
  --h-c: #d0a8ff;
  --h-d: #6c7986;
  --h-e: #fd8f3f;
}

:root.dark .only-light,
:root:not(.dark) .only-dark {
  display: none;
}

@media screen and (max-width: 53rem) {
  :root {
    --ls: 1rem;
    --hls: 1rem;
  }

  body {
    background: var(--bg);
  }

  #header {
    padding: 0 var(--ls);
  }

  #navbar {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 44rem) {
  :root {
    --f1: 1.728rem;
    --f2: 1.44rem;
    --f3: 1.2rem;
    --f4: 1rem;
    --f5: 0.833rem;
  }

  .lh {
    text-decoration: underline;
  }

  #navbar,
  #navbar label,
  #toggler:checked + #navbar a {
    display: block;
    text-align: left;
  }

  #header .avatar {
    max-width: 4rem;
    margin-right: var(--hms);
  }

  #navbar a,
  #header form input {
    display: none;
  }

  .tb li {
    display: flow-root;
  }

  .fg {
    grid-gap: 0.5rem;
  }

  #footer {
    display: block;
    text-align: center;
  }
}

@media print {
  html,
  body,
  .container {
    background: white !important;
    font-size: 11pt;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  #header,
  #navbar,
  #footer {
    display: none;
  }

  a:hover {
    background: none;
  }
}
