.trips > .tb {
  grid-template-columns: 1fr 16rem max-content;
}

.trips .tbi,
.trips .tbm,
.trips details::details-content {
  grid-column: span 4;
}

.trips > .tb details .tb {
  grid-template-columns: 1fr;
}
