{{ $logs := slice }}

{{ range . }}
  {{ $log := dict
    "url" .RelPermalink
    "date" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "rating" .Params.rating
  }}
  {{ if .Params.read }}
    {{ $log = $log | merge (dict
      "name" .Title
      "author" .Params.read.author
    ) }}
  {{ else if index .Params "bookmark-of" }}
    {{ $log = $log | merge (dict
      "name" .Title
      "via" ((urls.Parse (index .Params "bookmark-of")).Host)
    ) }}
  {{ else }}
    {{ $log = $log | merge (dict "name" .Title) }}
  {{ end }}
  {{ $logs = $logs | append $log }}
{{ end }}

{{ return $logs }}
