:root {
  --c-h: 212;
  --c-s: 52%;
  --c-l: 48%;
}

body {
  background: var(--c)
    url(https://media.hacdias.com/image/1800/2023-03-26-windows-xp-background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

#header,
#sidebar,
#navbar,
#main,
#footer {
  background: var(--bg);
}
