:root {
  --c-h: 212;
  --c-s: 52%;
  --c-l: 48%;
}

@media screen and not (max-width: 50rem) {
  body {
    background: var(--c)
      url(https://media.hacdias.com/image/1800/2023-03-26-windows-xp-background.jpeg);
    background-attachment: fixed;
    background-size: cover;
  }

  #navbar {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}
