.terms.grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.terms.grid li {
  margin: 0;
}

.terms.grid a {
  width: 100%;
  height: 100%;
}

.terms.nyan a:hover {
  background: #104d8f url(https://cdn.hacdias.com/media/nyan-cat.gif) no-repeat right / contain;
  image-rendering: pixelated;
  color: var(--white);
}

#trigger {
  text-decoration:underline;
  text-decoration-style: dotted;
  cursor: pointer;
}
