<blockquote class="h-cite box u-in-reply-to">
  {{ with .Params.context }}
    <p class=small>
      <span class="u-author h-card">
        <strong class="p-name">{{ with .name }}{{ . }}{{ else }}Unknown{{ end }}</strong>
      </span>
      •
      <a rel="noopener noreferrer" href="{{ .URL }}" class="u-url nl">
        <span class="lg">{{- if .published -}}{{ dateFormat "02 Jan 2006" .published }}{{ else }}Original Post{{ end -}}</span>
      </a>
    </p>
    {{ with .content }}
      <p class="e-content p-name small copy">{{ . | safeHTML | truncate 300 }}</p>
    {{ end }}
  {{ else }}
    A post on <strong><a rel="noopener noreferrer" href="{{ .Params.reply }}">{{ (.Params.reply | urls.Parse).Host }}</a></strong>
  {{ end }}
</blockquote>
