<style>{{ (resources.Get "css/places.css").Content | safeCSS }}</style>
{{ $logs := partial "fns/group-date-year" .Site.Data.logs.places }}
{{ range $logs.years }}
  <section class='places'>
    {{ $year := . }}
    {{ $entries := index $logs.map $year }}

    <h3 class='tbh' id='{{ $year }}'>{{ $year }} <small class='lg'>({{ len $entries }} entries)</small></h3>

    <div class='tb'>
    {{ with $entries }}
      {{ range $entry := . }}
        <details name='trip' class='tbm'>
          <summary class='tbi'>
            <span>{{ .name }}</span>
            <span>{{ .place }}</span>
            <span>
              <time class='tab lg small'>{{ dateFormat "2006-01-02" .start }}</time>
              <small class='lg'>→</small>
              <time class='tab lg small'>{{ dateFormat "2006-01-02" .date }}</time>
            </span>
          </summary>

          {{ with $entry.itinerary }}
            <ul class='tb'>
              {{ range . }}
                <li>{{ template "leg" (dict "Itinerary" . "Site" $.Site) }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </details>
      {{ end }}
    {{ end }}
    </div>
  </section>
{{ end }}

{{ define "leg" }}
  <span>
    {{ template "transit-type" .Itinerary.type }}
    {{ $departure := time.AsTime .Itinerary.departure }}
    {{ $arrival := time.AsTime .Itinerary.arrival }}

    <time class='tab lg'>{{ $departure.Format "2006-01-02 15:04" }}</time>
    {{ .Itinerary.origin }}
    →
    <time class='tab lg'>
      {{- $arrival.Format "15:04" -}}
      {{- if ne $departure.Day $arrival.Day}}<sup>+1</sup>{{ end -}}
    </time>

    {{ .Itinerary.destination }}
    {{ if eq .Itinerary.type "air" -}}
      <span class='lg'>({{ .Itinerary.operator }} {{.Itinerary.number}})</span>
    {{- end }}
  </span>
{{ end }}

{{ define "transit-type" }}
  {{- if eq . "train" }}🚆
  {{ else if eq . "bus" }}🚍
  {{ else if eq . "air" }}✈️
  {{ else if eq . "boat" }}🛳
  {{ else if eq . "car" }}🚙
  {{ else }}🚀
  {{ end -}}
{{ end }}
