{{ define "main" }}
<main role='main'>
  <header>
    <h1><eagle-error-title>404 Not Found</eagle-error-title></h1>
  </header>

  <div class='copy'>
    <eagle-error error='400' class='dn'>
      <p>The request you sent is invalid.</p>
    </eagle-error>

    <eagle-error error='403' class='dn'>
      <p>It seems you don't have permission to see this content.</p>
    </eagle-error>

    <eagle-error error='404 410'>
      <p>
        We searched and we searched, but the content you're looking for could not be found.
        Sorry. In the meanwhile, please look at the image below. So you know, I sometimes
        dabble with other kinds of activities, such as pixel art, and this website contains
        some secrets. Find them!
      </p>

      <style>
        img.egif {
          width: 100%;
          image-rendering: pixelated;
          border-radius: var(--radius);
          display: block;
        }
      </style>

      {{-
        partial "helpers/figure"
        (dict "Destination" "https://cdn.hacdias.com/media/2020-04-pixel-house.gif?class=br")
      -}}
    </eagle-error>

    <eagle-error-details class='dn'>
      <div class='box'>Error: <eagle-error-details-value></eagle-error-details-value></div>
    </eagle-error-details>
  </div>
</main>
{{ end }}
