<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>
<head>
  {{ partial "base/head" . }}
</head>
<body>
  {{ partialCached "assets/js.html" . }}

  <a href="#main" id='skip-to-content'>Skip to content</a>

  <div id='container'>
    {{ partial "base/header" . }}
    {{ partial "base/navigation" . }}
    {{ partial "base/sidebar" . }}
    <main id='main'>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "base/footer" . }}
  </div>

  {{ with sort (.Resources.Match "*.js") }}
    <script>
    {{ range . }}
      {{ .Content | safeJS }}
    {{ end }}
    </script>
  {{ end }}
</body>
</html>
