{{ define "main" }}
  <style>{{ (resources.Get "css/home.css").Content | safeCSS }}</style>

  <header>
    <h1><span id='hello'>Hi, I'm <span style="color: var(--c)">Henrique</span>!</span> 👋</h1>
  </header>

  <div class='intro'>
    {{- partialCached "post/content" . .Permalink -}}
  </div>

  <div class='h-feed'>
    <div>
      {{- $writings := .Site.GetPage "/categories/writings" -}}
      <h2 id="freshly-planted"><a href='{{ $writings.RelPermalink }}' class='nl' title='Or at least once upon a time fresh...'>🌿 Freshly Planted <span class='lg'>⇢</span></a></h2>
      {{- partial "logs" (dict "Pages" (first 25 $writings.Pages) "WithMicroformats" true) -}}
    </div>

    <div>
      {{- $photos := .Site.GetPage "/categories/photos" -}}
      <h2 id="freshly-captured"><a href='{{ $photos.RelPermalink }}' class='nl'>📸 Freshly Captured <span class='lg'>⇢</span></a></h2>
      {{- template "index.photos" (dict "pages" (first 20 $photos.Pages) "feed" true) -}}
    </div>
  </div>

  <div class='h-card' hidden>
    <a href='{{ absURL "/" }}' class='u-uid u-url p-name'>{{ .Site.Params.author.name }}</a>
    <a class='u-photo' href='{{ .Site.Params.author.photo }}'>(Photo)</a>
    <a href='mailto:{{ .Site.Params.author.email }}' rel='me' class='u-email'>{{ .Site.Params.author.email }}</a>
    <a class='u-key' href='{{ absURL "/pubkey.asc" }}'>PGP key</a>
    <div class='p-note'>{{ .Site.Params.site.description }}</div>
  </div>

  <script>{{ (resources.Get "js/home.js").Content | safeJS }}</script>
{{ end }}

{{- define "index.photos" }}
<div class='fg'>
  {{ range .pages }}
  <div class='br{{ if $.feed }} h-entry{{ end }}'>
    <a href='{{ .RelPermalink }}' class='nl {{ if $.feed }} u-url{{ end }}'>
      {{ $imageUrl := or .Params.thumbnail (index (index .Params.photos 0) "url") }}
      {{ partial "helpers/figure" (dict
        "Destination" $imageUrl
        "Title" .Title
        "IsBlock" true
        "Sizes" (slice 600)
        "Page" .
      )}}
    </a>
  </div>
  {{ end }}
</div>
{{- end }}
