{{ define "main" }}
  <div class='h-card' hidden>
    <a href='{{ absURL "/" }}' class='u-uid u-url p-name'>{{ .Site.Params.author.name }}</a>
    <a class='u-photo' href='{{ .Site.Params.author.photo }}'>(Photo)</a>
    <a href='mailto:{{ .Site.Params.author.email }}' rel='me' class='u-email'>{{ .Site.Params.author.email }}</a>
    <a class='u-key' href='{{ absURL "/pubkey.asc" }}'>PGP key</a>
    <div class='p-note'>{{ .Site.Params.site.description }}</div>
  </div>

  {{- partialCached "post/content" . .Permalink -}}

  <div class='h-feed'>
    {{- $pages := where .Site.RegularPages "Params.categories" "intersect" (slice "writings" "readings" "fragments") -}}
    <h2 id="freshly-planted"><a href='{{ relURL "/writings" }}' class='nl lh'>🪴 Freshly Planted <span class='lg'>⇢</span></a></h2>
    {{- template "index.items" (dict "pages" (first 8 $pages) "feed" true) -}}

    <h2 id="freshly-captured"><a href='{{ relURL "/photos" }}' class='nl lh'>🎞️ Freshly Captured <span class='lg'>⇢</span></a></h2>
    {{- $photos := where .Site.RegularPages "Params.categories" "intersect" (slice "photos") -}}
    {{- template "index.photos" (dict "pages" (first 8 $photos) "feed" true) -}}
  </div>

  <h2 id="favourite-articles">🌟 Favourite Writings</h2>
  {{- $favoritePosts := slice -}}
  {{- range .Params.favoritePosts -}}
  {{- $favoritePosts = $favoritePosts | append ($.GetPage .) -}}
  {{- end -}}
  {{- template "index.items" (dict "pages" (first 4 $favoritePosts) "feed" false) -}}

  <h2 id="favourite-captures">📸 Favourite Captures</h2>
  {{- $favoritePhotos := slice -}}
  {{- range .Params.favoriteCaptures -}}
  {{- $favoritePhotos = $favoritePhotos | append ($.GetPage .) -}}
  {{- end }}
  {{- template "index.photos" (dict "pages" (first 4 $favoritePhotos) "feed" false) -}}
{{ end }}

{{- define "index.items" }}
<ul class='tb'>
  {{ range .pages }}
  <li {{ if $.feed }}class='h-entry'{{ end }}>
    <a href='{{ .RelPermalink }}' class='nl lh{{ if $.feed }} p-name u-url{{ end }}'>{{ .Title }}</a>
    <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class='tab lg small{{ if $.feed }} dt-published{{ end }}'>{{ .Date.Format "2006-01-02" }}</time>
  </li>
  {{ end }}
</ul>
{{ end }}

{{- define "index.photos" }}
<div class='fg'>
  {{ range .pages }}
  <div class='br{{ if $.feed }} h-entry{{ end }}'>
    <a href='{{ .RelPermalink }}' class='nl lh {{ if $.feed }} u-url{{ end }}'>
      {{ $imageUrl := or .Params.coverImage (index (index .Params.photos 0) "url") }}
      {{ partial "helpers/figure" (dict
        "Destination" $imageUrl
        "Title" .Title
        "IsBlock" true
        "Sizes" (slice 250 500)
        "Page" .
      )}}
    </a>
  </div>
  {{ end }}
</div>
{{- end }}
