{{ define "main" }}
  <header>
    <h1>{{ partialCached "fns/title" . .Title .Data.Singular }}</h1>
  </header>

  {{ partialCached "post/content" . .Permalink }}

  <style>
  .tb li {
    grid-template-columns: auto 16rem 78px;
  }

  .tb.read li {
    grid-template-columns: auto 10rem 5rem 78px;
  }
  </style>

  {{ $read := partial "fns/pages-as-logs" .Pages }}
  {{ $read = $read | append .Site.Data.readings }}
  {{ partial "logs" (dict "Data" $read "WithAuthor" true "WithRating" true "Class" "read") }}
{{ end }}
