{{ define "main" }}
  {{- $page := . }}
  {{- if .Params.layoutPage }}
    {{- $page = .Site.GetPage .Params.layoutPage }}
  {{- end }}

  <header>
    {{- if .Params.layoutPage }}
      <p class='lg small'><a href='{{ $page.RelPermalink }}' class='nl'>← {{ $page.Title }}</a></p>
      <h1>Archive</h1>
    {{ else }}
      <h1>{{ partialCached "fns/title" . .Title .Data.Singular }}</h1>
    {{ end }}
  </header>

  {{- partialCached "post/content" . .Permalink }}

  <div class='h-feed'>
    {{- partial "logs" (dict
      "Pages" $page.Pages
      "WithMicroformats" true
      "WithGroups" true
    ) }}
  </div>
{{ end }}
