{{- if or .Content .Params.rating .Params.photos .Params.read }}
  <div class='e-content'{{ if in .Params.tags "portugues" }} lang='pt'{{ else if in .Params.tags "nederlands" }} lang='nl'{{ end }}>
    {{ if (and .Params.read .Params.thumbnail) }}
      {{ partial "helpers/figure" (dict
        "Destination" .Params.thumbnail
        "Title" (printf "Book cover of \"%s\"" .Title)
        "IsBlock" true
        "Sizes" (slice 600)
        "Page" .
        "Class" "right"
        "Style" "max-width: 10rem;"
      )}}
    {{ end }}
    {{- with .Params.rating -}}
      <p>
        <data class='p-rating' value="{{ . }}"><strong>Rating:</strong> {{ partialCached "helpers/stars" (slice . 5) . 5 }}</data>
      </p>
    {{- end -}}
    {{- with .Content }}{{ . }}{{ end -}}
    {{- if .Params.read }}
      <ul class='p-read-of h-cite tb box'>
        <li><strong>📕 Title</strong> <span class='p-name'>{{ .Title }}</span></li>
        <li><strong>✍️ Author</strong> <span class='p-author'>{{ .Params.read.author }}</span></li>
        {{ with .Params.read.pages }}<li><strong>📄 Pages</strong> <span class='p-pages'>{{ . }}</span></li>{{ end }}
        {{ with .Params.read.publisher }}<li><strong>📚 Publisher</strong> <span class='p-publisher'>{{ . }}</span></li>{{ end }}
        {{ with .Params.read.uid }}
          {{ $parts := split . ":" }}
          {{ $type := index $parts 0 }}
          {{ $id := index $parts 1 }}
          <li>
            <strong>🪪 {{ upper $type }}</strong>
            <a href='https://en.wikipedia.org/wiki/Special:BookSources?{{ $type }}={{ $id }}' rel='noopener noreferrer' class='p-uid'>
              {{- $id -}}
            </a>
          </li>
        {{ end }}
      </ul>
    {{- end }}
    {{- if .Params.photos }}
      {{ $slug := strings.TrimSuffix "/" .RelPermalink }}
      {{ $slug = strings.TrimPrefix "/" $slug }}
      {{ $slug = strings.Replace $slug "/" "-" }}

      {{ if gt (len .Params.photos) 1 }}
        <div class='fg fg-{{ $slug }}'>
        {{ range .Params.photos }}
          {{ partial "helpers/figure" (dict
            "Destination" .url
            "Title" .title
            "IsBlock" true
            "Width" .width
            "Height" .height
            "Page" $.Page
          )}}
        {{ end }}
        </div>
      {{ else }}
        {{ $photo := index .Params.photos 0 }}
        {{ partial "helpers/figure" (dict
          "Destination" $photo.url
          "Title" $photo.title
          "Width" $photo.width
          "Height" $photo.height
          "IsBlock" true
          "Page" $.Page
        )}}
      {{ end }}
    {{ end }}
  </div>
{{- end -}}
