{{- if .Params.feedContentWarning -}}
  <em>Not all of the content might be visible on your feed reader. Consider checking out the <a href='{{ .Permalink }}' rel='noopener noreferrer'>original post</a>.</em>
{{- end -}}
{{- with .Params.read -}}
  <p><em>Read {{ $.Title }} by {{ .author }}.</em></p>
{{- end }}
{{- partialCached "post/content" . .Permalink }}
<p>
  <a href="mailto:{{ .Site.Params.author.email }}?subject=Re: {{ .Page.Title }}" rel='noopener noreferrer'>💬 Reply via e-mail</a> |
  <a href="{{ absURL "/guestbook/" }}" rel='noopener noreferrer'>📖 Sign my guestbook</a>
</p>
