{{ if eq .Section "posts" }}
  <footer>
    <ul class='tb box small'>
      {{ if .Lastmod.After .Date }}
      <li>
        <strong>🖊️ Updated</strong>
        <time datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
          {{- .Lastmod.Format "2 January 2006" }} at {{ .Lastmod.Format "15:04" -}}
        </time>
      </li>
      {{ end }}

      {{ with .Params.location }}
      <li>
        <strong>📍 Where</strong>
        <span class="p-location h-adr">
          {{ if or .name .locality .region .country  }}
            {{ $town := or .locality .region }}
            {{- with .name -}}
              <span class='p-name'>{{ . }}</span>{{ if or $town $.Params.location.country }} in {{ end}}
            {{- end -}}
            {{- with $town -}}
              <span class='p-locality'>{{ . }}</span>
            {{- end -}}
            {{- with .country -}}
              {{ if $town }}, {{ end }}
              <span class='p-country'>{{ . }}</span>
            {{- end -}}
          {{ else }}
            <span class="p-latitude">{{ .latitude }}</span>,
            <span class="p-longitude">{{ .longitude }}</span>
          {{ end }}
        </span>
      </li>
      {{ end }}

      {{ with .Params.tags }}
      <li>
        <strong>📁 Tags</strong>
        <span>
        {{ range $i, $t := sort . -}}
          {{- if ne $i 0 }}, {{ end -}}
          {{ $page := $.Page.Site.GetPage (printf "/tags/%s" $t) }}
          <a class="p-category" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
        {{- end -}}
        </span>
      </li>
      {{ end }}

      {{ with .Page.Params.syndication }}
      <li>
        <strong>🌐 Also on</strong>
        <span>
        {{ range $i, $s := . -}}
          {{- if ne $i 0 }}, {{ end -}}
          <a class='u-syndication' rel="noopener noreferrer" href="{{ . }}">
            {{- $domain := (urls.Parse $s).Host -}}
            {{ $domain -}}
          </a>
        {{- end -}}
        </span>
      </li>
      {{ end }}

      <li>
        <strong>💬 Reply</strong>
        <span> 
        <a href="mailto:{{ .Site.Params.author.email }}?subject=Re: {{ .Page.Title }}" rel='noopener noreferrer'>E-Mail</a>,
        <a href="https://fosstodon.org/@hacdias" rel='noopener noreferrer'>Mastodon</a>,
        <a href="https://bsky.app/profile/hacdias.com" rel='noopener noreferrer'>Bluesky</a>,
        <a href="https://indieweb.org/Webmention" rel='noopener noreferrer'>Webmentions</a>
        </span>
      </li>
    </ul>
  </footer>
{{ end }}

{{ with sort (.Resources.Match "*.js") }}
  <script>
  {{ range . }}
    {{ .Content | safeJS }}
  {{ end }}
  </script>
{{ end }}
