{{- with .Page -}}
  <header>
    {{- if not .Date.IsZero -}}
    <p class='lg small'>
      {{- if not .Date.IsZero -}}
        <time class='dt-published' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
          {{- .Date.Format "2 January 2006" -}}
        </time>
      {{- end -}}
    </p>
    {{- end -}}

    {{- if index .Params "read" -}}
      <h1>
        <span class='p-name'>{{- .Title -}}</span>
        <span class='lg wn'>by {{ .Params.read.author }}</span>
      </h1>
    {{- else if .Title -}}
      <h1 class='p-name'>
        {{- .Title -}}
      </h1>
    {{- end -}}

    <a href="{{ .Permalink }}" class="u-url" hidden>Permalink</a>
    <div class="h-card u-author" hidden>
      Authored by
      <a href="{{ absURL "/" }}" class="u-url p-name">{{ .Page.Site.Params.author.name }}</a>
      <a class='u-photo' href="{{ .Page.Site.Params.author.photo }}">(Photo)</a>
    </div>
  </header>
{{- end -}}
