.small-svg,
.smaller-svg {
  text-align: center;
}

.small-svg img {
  max-height: 25rem;
}

.smaller-svg img {
  max-height: 15rem;
}

.color {
  background-color: var(--color);
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
  border: 1px solid var(--text);
  margin-right: 0.2rem;
  margin-bottom: -0.1rem;
}

@media (prefers-color-scheme: dark) {
  .plot {
    background-color: white;
    padding: var(--hms) var(--ms);
    border-radius: var(--radius);
  }

  :root #preview img {
    background: white;
  }
}
