:root {
  --c-h: 256;
  --c-s: 25%;
  --c-l: 51%;
}

body {
  background: #010d2a
    url(https://media.hacdias.com/image/600/2020-05-31-sea-pattern.jpeg);
  background-size: 300px;
  background-attachment: fixed;
}

#header,
#sidebar,
#navbar,
#main,
#footer {
  background: var(--bg);
}
