<footer id='footer' class='lg'>
  <div class='box only-dark'>
    <small>🌑 This dark theme is in construction. Does something not look good, or is
    not readable enough? <a href='{{ relURL "/" }}'>Reach out!</a></small>
  </div>
  <div>
    <div>
      &copy; Henrique Dias 2014 - {{ now.Year }} |
      <a class='nl only-dark' onclick="javascript:toggleTheme('l');">☀️ Light Mode</a>
      <a class='nl only-light' onclick="javascript:toggleTheme('d');">🌑 Dark Mode</a>
    </div>

    <div>
      <a title="IndieWeb Webring (Previous)" class="nl" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/%F0%9F%91%99%F0%9F%88%B6%F0%9F%98%BD/previous">←</a>
      🕸💍
      <a title="IndieWeb Webring (Next) "class="nl" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/%F0%9F%91%99%F0%9F%88%B6%F0%9F%98%BD/next">→</a>
    </div>
  </div>
</footer>
