<footer id='footer' class='lg'>
  <div>
    <div>
      &copy; Henrique Dias {{ now.Year }} |
      <a class='nl only-dark' onclick="javascript:toggleTheme('l');">Light Mode</a>
      <a class='nl only-light' onclick="javascript:toggleTheme('d');">Dark Mode</a>
    </div>

    <div>
      <a title="IndieWeb Webring (Previous)" class="nl" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/previous">←</a>
      🕸💍
      <a title="IndieWeb Webring (Next) "class="nl" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/next">→</a>
    </div>
  </div>
</footer>
