<header>
  <h1>{{ .Title }}</h1>
</header>

<style>
.eagle-guestbook {
  display: flex;
  justify-content: flex-end;
}

.eagle-guestbook > form:first-of-type {
  margin-right: var(--hms);
}

.eagle-guestbook > form:first-of-type button {
  background: #e32517;
  border-color: #e32517;
}
.eagle-guestbook > form:last-of-type button {
  background: #2fa22f;
  border-color: #2fa22f;
}
</style>

<div>
  {{ template "panel-navigation.html" . }}

  <h2>Comments</h2>
  
  {{ if eq (len .Data) 0 }}
    <div class='box'>
      🕊️ There are no messages, the birds are still whisteling.
    </div>
  {{ end }}
  {{ range .Data }}
    <div class='box'>
      <p>
        <strong>Name:</strong> {{ .Name }}<br>
        <strong>Website:</strong> {{ .Website }}<br>
        <strong>Date:</strong> {{ .Date }}<br>
        <strong>Content:</strong> {{ .Content }}
      </p>
      <div class='eagle-guestbook'>
        <form method=POST>
          <input type='hidden' name='id' value='{{ .ID }}' />
          <input type='hidden' name='action' value='delete' />
          <button style='width: 100%'>Delete</button>
        </form>
        <form method=POST>
          <input type='hidden' name='id' value='{{ .ID }}' />
          <input type='hidden' name='action' value='approve' />
          <button style='width: 100%'>Approve</button>
        </form>
      </div>
    </div>
  {{ end }}
</div>
