<header>
  <h1>{{ .Title }}</h1>
</header>

<style>
.eagle-actions {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.eagle-options {
  margin: 1rem 0;
}

.eagle-options label {
  display: block;
  margin: 0.5rem 0;
}

.eagle-options label * {
  margin: 0 !important;
  width: auto !important;
  display: inline !important;
}
</style>

<div>
  {{ template "panel-navigation.html" . }}

  <h2>Quick Actions</h2>

  <div class='eagle-actions'>
  {{ range .Data.Actions }}
    <form method=POST>
      <input type='hidden' name='action' value='{{ . }}' />
      <button style='width: 100%'>{{ . }}</button>
    </form>
  {{ end }}
  </div>

  {{ if .Data.ActionSuccess }}
    <div class='box'>✅ Success!</div>
  {{ end }}

  <h2>Upload File</h2>

  <div class='box'>⚠️ Do not forget to give the file a good name!</div>

  <form id='upload' method='post' class='block-form' enctype='multipart/form-data'>
    <input type='file' name='file' />
    <div class='eagle-options'>
      <label><input type='checkbox' name='preserve-filename' checked /> Preserve Filename</label>
    </div>
    <button>Upload</button>
  </form>

  {{ with .Data.MediaLocation }}
    <pre class='eagle-pre'>{{ . }}</pre>
  {{ end }}
</div>
