<form id='search-form' class='inline-form'>
  <input aria-label="Search terms" required type='text' name='query' placeholder="Search…" value="{{ .Query }}" />
  <button/>Go</button>
</form>

{{ if eq (len .Query) 0 }}
  <div class='box'>
    <p>ℹ️ You haven't searched for anything yet!</p>
  </div>
{{ else }}
  {{ if eq (len .Entries) 0 }}
    <div class='box'>
      <p>🤔 Searched and searched, but nothing could be found!</p>
    </div>
  {{ else }}
    {{ range .Entries }}
      {{ $bookmark := index .Other "bookmark-of" }}
      <div class='card'>
        <header>
          {{ if $bookmark }}
            <a href='{{ $bookmark }}' class='nl' rel='noopener noreferrer'>
              <h2 class='bookmark'>{{ .Title }}{{ with urlParse $bookmark }} <span class='lg wn'>({{ .Host }})</span>{{ end }}</h2>
            </a>
          {{ else }}
            <a href='{{ .Permalink }}' class='nl'><h2>{{ .Title }}</h2></a>
          {{ end }}

          {{ $tags := .Taxonomy "tags" }}
          {{ if or $tags (not .Date.IsZero) }}
            <p>
              {{ if not .Date.IsZero -}}
                <a href='{{ .Permalink }}' class='nl'>
                  <time class='dt-published' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{ if $bookmark }}Bookmarked{{ else }}Published{{ end }}
                    on {{ .Date.Format "2 January 2006" }}
                  </time>
                </a>
              {{- end -}}
              {{ range $tags -}}
                <a class="p-category" href="/tags/{{ . }}/">{{ . }}</a>
              {{ end -}}
            </p>
          {{ end }}
        </header>
        <div class='copy'><p>{{ .Summary }}</p></div>
        <a href='{{ .Permalink }}' class='more'>Read More →</a>
      </div>
    {{ end }}
  {{ end }}

  <nav class="pagination">
    <a aria-label="Previous" class="page-link" role="button" {{ with .Previous }}href="{{ . }}"{{ else }}aria-disabled="true"{{ end }}>
      <span aria-hidden="true">&laquo; Previous</span>
    </a>
    <a aria-label="Next" class="page-link" role="button"  {{ with .Next }}href="{{ . }}"{{ else }}aria-disabled="true"{{ end }} >
      <span aria-hidden="true">Next &raquo;</span>
    </a>
  </nav>
{{ end }}
