<form id='search-form' class='inline-form'>
  <input {{ if eq (len .Query) 0 }}autofocus{{ end }} aria-label="Search terms" required type='text' name='query' placeholder="Search…" value="{{ .Query }}" />
  <button/>Search</button>
</form>
{{ if eq (len .Query) 0 }}
  <div class='box'>
    <p>ℹ️ You haven't searched for anything yet!</p>
  </div>
{{ else }}
  {{ if eq (len .Entries) 0 }}
    <div class='box'>
      <p>👀 Searched and searched, but nothing could be found!</p>
    </div>
  {{ else }}
    {{ range .Entries }}
      <a href='{{ .RelPermalink }}' class='card'>
        <header>
          {{ if not .Date.IsZero }}
            <p class='lg small'>
              <time class='dt-published' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{- .Date.Format "2 January 2006" -}}
              </time>
            </p>
          {{ end }}

          {{ if .Other.read }}
            <h2>{{ .Title }} <span class='lg wn'>by {{ .Other.read.author }}</span></h2>
          {{ else }}
            <h2>{{ .Title }}</h2>
          {{ end }}
        </header>
        <div><p>{{ .Summary }}</p></div>
      </a>
    {{ end }}
  {{ end }}

  <nav id="pagination">
    <a aria-label="Previous" role="button" {{ with .Previous }}href="{{ . }}"{{ else }}aria-disabled="true"{{ end }}>
      <span aria-hidden="true">&laquo; Previous</span>
    </a>
    <a aria-label="Next" role="button"  {{ with .Next }}href="{{ . }}"{{ else }}aria-disabled="true"{{ end }} >
      <span aria-hidden="true">Next &raquo;</span>
    </a>
  </nav>
{{ end }}
