{{ range .Site.Data.bookmarks }}
  {{ $id := dateFormat "2006-01-02T150405" .date }}
  <div class='card' id='{{ $id }}'>
    <header>
      <h2>
        <a href="{{ .url }}" class=nl>{{- .title -}}</a>
        <small class='lg wn'>({{ (urls.Parse .url).Host }})</small>
      </h2>
      <p>
        <a href='#{{ $id }}' class='nl'>
          <time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" .date }}'>
            Bookmarked on {{ dateFormat  "2 January 2006" .date }}
          </time>
        </a>
        {{ range .tags -}}
          <span class=tag>#{{ . }}</span>
        {{ end -}}
      </p>
    </header>
    <div>
      {{- .description | $.Page.RenderString (dict "display" "block" ) -}}
    </div>
  </div>
{{ end }}
