<style>
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.foodgram {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  grid-gap: 1rem;
}

.foodgram .card {
  margin: 0;
  --ms: var(--hms);
}

.foodgram .card figure {
  margin: 0;
  padding: 0;
}

.foodgram .card figure img {
  object-fit: cover;
  aspect-ratio: 1;
  display: block;
}
</style>

<div class='foodgram'>
{{ range index .Site.Data (.Get 0) }}
  <div class='card'>
    <header>
      <div class='ellipsis'><strong>{{ .name }}</strong></div>
      <p class='ellipsis'>
        <time class='dt-updated' datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" .date }}'>
          {{ dateFormat "2006-01-02" .date }}
        </time>
        {{ with .location }}at
          {{ $town := or .locality .region .country }}
            {{- with .name -}}
              <span class='p-name'>{{ . }}</span>{{ if $town }}, {{ end}}
            {{- end -}}
            {{- with $town -}}
              <span class='p-locality'>{{ . }}</span>
            {{- end -}}
        {{ end }}
      </p>
    </header>
    {{ partialCached "helpers/figure" (dict "Destination" .image "IsBlock" true "Sizes" (slice 250 500 1000)) .image }}
    {{/* {{ .content }} */}}
  </div>
{{ end }}
</div>
