.entries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  grid-gap: var(--hls);
  margin: 2rem 0;
}

.entry {
  margin: 0;
  padding: var(--ms);
  background: #ffb3ba;
  transform: rotate(-0.5deg);
  border-color: rgba(0, 0, 0, 0.05);
}

.entry:nth-last-child(5n - 3) {
  background: #ffdfba;
  transform: rotate(0.3deg);
}

.entry:nth-last-child(5n - 2) {
  background: #ffffba;
  transform: rotate(-0.2deg);
}

.entry:nth-last-child(5n - 1) {
  background: #baffc9;
  transform: rotate(0.4deg);
}

.entry:nth-last-child(5n + 0) {
  background: #bae1ff;
  transform: rotate(-0.1deg);
}

#guestbook-form {
  padding: var(--ms);
}

#guestbook-form > * {
  display: block;
  width: 100%;
}

#guestbook-form input,
#guestbook-form textarea {
  margin: var(--hms) 0 var(--ms);
}

@media (prefers-color-scheme: dark) {
  .entry,
  .entry:nth-last-child(5n - 3),
  .entry:nth-last-child(5n - 2),
  .entry:nth-last-child(5n - 1),
  .entry:nth-last-child(5n + 0) {
    background: var(--fg);
    border-color: rgba(255, 255, 255, 0.05);
  }
}
