#resume-header {
  display: none;
  grid-template-columns: 4.5rem auto max-content;
  grid-gap: .5rem;
  border-bottom: 1px dashed var(--c);
  padding-bottom: 1rem;
  align-items: center;
}

#resume-header div p:first-of-type {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.3;
}

#resume-header ul {
  list-style: none;
  text-align: right;
}

#resume-header * {
  margin: 0;
  padding: 0;
}

.resume-position > div {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: .25rem;
  align-items: baseline;
  margin: 1rem 0 0.25rem;
}

.resume-position h3 {
  margin: 0;
  font-size: var(--f4);
  font-weight: normal;
}

.resume-position h3 a {
  font-weight: 500;
}

.resume-position ul {
  margin-top: 0.25rem;
  font-size: var(--f5);
}

@media screen and (max-width: 53rem) {
  h3 span {
    display: none;
  }

  h3 a {
    display: block;
  }
}

@media print {
  :root,
  :root.dark {
    --c-h: 220;
    --c-s: 50%;
    --c-l: 42%;
    --bg-l: 99%;
    --fg-l: 92%;
    --mg-l: 97%;
    --dark-gray: #000;
    --light-gray: #555555;
  }

  h2 {
    color: var(--c);
    break-after: avoid;
    line-height: 1.5;
    border-bottom: 1px solid var(--fg);
    margin: 1rem 0 0.5rem;
  }

  .resume-position ul {
    break-before: avoid;
  }

  #resume-header {
    display: grid;
  }

  h2 .emoji,
  main header,
  #printing-hint {
    display: none;
  }
}

@page {
  margin: 1cm;
}
