#resume-header {
  display: none;
  grid-template-columns: 4.5rem auto max-content;
  grid-gap: .5rem;
  border-bottom: 1px dashed var(--c);
  padding-bottom: 1rem;
  align-items: center;
}

#resume-header div p:first-of-type {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}

#resume-header ul {
  list-style: none;
  text-align: right;
}

#resume-header * {
  margin: 0;
  padding: 0;
}

.resume-position > div {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-gap: 0 var(--hms);
  align-items: baseline;
  margin: var(--hls) 0 var(--hms);
}

.resume-position h4 {
  margin: 0;
  text-transform: none;
}

.resume-position > div a {
  font-weight: 600;
  color: var(--c);
}

.resume-position ul {
  margin-top: var(--hms);
}

@media screen and (max-width: 50rem) {
  .resume-position > div {
    grid-template-columns: auto max-content;
  }

  .resume-position > div a {
    grid-row-start: 2;
  }
}

@media print {
  :root {
    --c-h: 220;
    --c-s: 50%;
    --c-l: 42%;
    --bg-l: 99%;
    --fg-l: 92%;
    --mg-l: 97%;
    --text: #000;
    --light-text: #555555;
  }

  h2 {
    color: var(--c);
    break-after: avoid;
    line-height: 1.5;
    border-bottom: 1px solid var(--fg);
    margin: 1rem 0 0.5rem;
  }

  .resume-position > div  {
    margin: 1rem 0 .25rem;
  }

  .resume-position h4 {
    font-size: var(--f4)
  }

  .resume-position ul {
    break-before: avoid;
    font-size: var(--f5);
    margin-top: .25rem;
  }

  #resume-header {
    display: grid;
  }

  h2 .emoji,
  main header,
  #printing-hint {
    display: none;
  }
}

@page {
  margin: 1cm;
}
